@import "./comms.scss";

$green: #009249;

.intro {
    .header {
        @extend .header;
        color: $green;
    }

    .subheader {
        @extend .subheader;
        color: grey;
    }

    .button-start {
        margin-top: $displacement-l;
    }

    .btn-success {
        padding: $displacement/2 $displacement*2;
    }
}
